:root {
    --primary-color: #4242C7;
    --secondary-color: #19191ac8;
    --primary-bg-color: #000235;
    --secondary-bg-color: #16175d;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.gallery-container {
    height: 100%;
    padding: 20px;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-bg-color);
    background-image: url(../resources/background.png);
    background-position: center;
    background-size: cover;
    height: 250px;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    font-size: 55px;
    font-weight: 900;
    text-transform: uppercase;
    color: white;;
}

#search-form {
    display: flex;
    margin-top: 20px;
    width: 100%;
    max-width: 500px;
}

#search-form input {
    flex-grow: 1;
    padding: 10px 25px;
    border: none;
    border-radius: 8px 0 0 8px;
    font-size: 20px;
    background-color: #0f0749cd;
    border: 3px solid white;
    color: white;
}


#search-form input:focus {
    outline: none;
}

#search-form button {
    padding: 18px;
    border: none;
    border-radius: 0 8px 8px 0;
    border: 3px solid white;
    border-left: none;
    background-color: transparent;
    cursor: pointer;
    background-color: #0f0749cd;
    transition: background-color 0.4s ease;
}

#search-form button i{
    color: white;
    font-size: 18px;
}

/* #search-form button:hover {
    background-color: #2b055cee;
}
 */


#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    margin-top: 50px;
}

#gallery img {
    width: 300px;
    height: 400px;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

#gallery img:hover {
    transform: scale(1.05);
}

#btn-logout {
    position: absolute;
    top: 40px;
    right: 50px;
    border-radius: 50%;
    background-color: var(--secondary-color);
    border: none;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

#btn-logout i {
    color: white;
    font-size: 18px;
}

.gallery-img {
    position: relative;
    background-color: red;
    padding: 0;
    margin: 0;
}

.gallery-img button{
    position: absolute;
    text-decoration: none;
    top: 5%;
    left: 85%;
    z-index: 100;
    font-size: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}